<div class="container">
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotodeperfil.jpg" class="img-fluid"  id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-lg-2 col-md-2">
    
  
        <p id="nombre">Gomes Fernanda Lourdes</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1> Acerca de mi</h1>
            <p>Estudiante de Veterinaria, iniciando en el estudio de la Programación en Argentina Programa. Actualmente no estoy trabajando.</p>
        </span>
    </div>
</div>
</div>