<div class="row">
    <h1> Experiencia laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1> Trabajo 1</h1> - <h3> (years)</h3>

            </li>
            <p>
                Venta Online de productos y accesorios en tela para bebés. Inicio de emprendimiento Babymom.
                Dueña del emprendimiento, encargada de Marketing digital, venta en Ferias Locales, armado de packaging,
                reparto a domicilio.
            </p>
            <li>
                <h1> Trabajo 2</h1> - <h3> (years)</h3>

            </li>
            <p>
                Atención al público, limpieza, apertura y cierre de caja en Forrajera Doña Julia. Ubicado en República
                Árabe de Siria 130. Banda Norte
            </p>
            <h1> Trabajo 3</h1> - <h3> (years)</h3>

            </li>
            


        </ul>
    </div>
</div>