<div class="row">
    <h1> Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
       
        <ul>
            <li><h1> Emprendedora</h1> - <h3> (2020-Actualidad)</h3></li>
            <p>
                Venta Online de productos y accesorios en tela para bebés. Inicio de emprendimiento Babymom.
                Dueña del emprendimiento, encargada de Marketing digital, venta en Ferias Locales, armado de packaging,
                reparto a domicilio. </p>
           </ul>
           <ul>
            <li><h1> Atencion al público</h1> - <h3> (2017-2018)</h3></li>
            <p>
               Atencion al público, limpieza, apertura y cierre de caja en Forrajera Doña Julia. Ubicado en Arabe de Siria 150. Banda Norte. Rio Cuarto</p>
           </ul>   
           <ul>
            <li><h1> Atencion al público</h1> - <h3> (2014-2015)</h3></li>
            <p>
               Atencion al público, ayudante de veterinaria, cierre de caja. en Veterinaria Bianchi. Banda Norte. Rio Cuarto</p>
           </ul>   
    </div>

</div>