<div class="row">
    <h1> Educación </h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        
        <ul>
            <li><h1> Estudio 1</h1> - <h3> (2022-2023)</h3></li>
            <p>
                Curso Argentina Programa</p>
           </ul>
           <ul>
            <li><h1> Estudio2</h1> - <h3> (2005-2019)</h3></li>
            <p>
                Grado en Medicina Veterinaria (incompleto) Universidad Nacional de Rio Cuarto</p>
           </ul>   
           <ul>
            <li><h1> Estudio 3</h1> - <h3> (2003-2005)</h3></li>
            <p>
                Grado en Licenciatura en Computación (incompleto) Universidad Nacional de San Luis</p>
           </ul>   
    </div>

</div>
